<div class="card rounded hover" style="background-color: #3c3e44;">
  <img [src]="item.image" class="card-img-top ratio ratio-1x1" alt="Img {{item.image}}" width="300">
  <div class="card-body">
    <h5 class="text-cor2 fw-bold fs-4">{{item.name}}</h5>
    <div class="d-flex align-items-center gap-2">
      <div [ngClass]="item.status == 'Alive' ? 'green': 'red'"></div>
      <p class="text-white fw-medium">
        {{ item.status == 'Alive' ? 'Vivo' : 'Morto' }} - {{ item.species == 'Human' ? 'Humano' : 'Alien' }} -
        {{item.gender == 'Male' ? 'Homem': 'Mulher'}}
      </p>
    </div>
    <p class="text-secondary fw-bold mt-2">Localização:</p>
    <p class="text-white fw-medium">{{item.location.name}}</p>
  </div>
</div>
