<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-center align-items-center vh-100 p-5">
        <div>
          <img src="./assets/logo.png" alt="logo image" class="w-100">
          <p>Informe seus dados abaixo</p>
          <form [formGroup]="formulario">
            <div class="d-flex flex-column mb-4">
              <label for="username">E-mail</label>
              <input type="text" formControlName="username" autocomplete="username"
                placeholder="Email de teste: user@gmail.com">
            </div>
            <div class="d-flex flex-column">
              <label for="password">Senha </label>
              <input type="password" formControlName="password" autocomplete="current-password" maxlength="20"
                placeholder="Senha de teste: password">
            </div>
          </form>
          <button [class.invalid]="formulario.invalid" [disabled]="formulario.invalid" (click)="login()">Entrar</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block p-0">
      <img src="./assets/imglogin.png" alt="" class="w-100 vh-100">
    </div>
  </div>
</div>
