<div class="container-fluid min-vh-100" style="background-color: #272b33;">
  <div class="container">
    <div class="d-flex flex-column">
      <label class="text-white fw-bold" for="filter">Pesquisar personagem</label>
      <input type="text" id="filter" (input)="teste($event)" placeholder="Pesquisar por nome">
    </div>
  </div>
  <div class="container my-5">
    <div class="row row-cols-md-4 gy-5">
      <div *ngFor="let item of data" class="d-flex justify-content-center">
        <app-card [routerLink]="[item.id]" [item]="item"></app-card>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" tabindex="-1" (click)="anterior()">Anterior</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="proxima()">Próxima</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
