input {
    width: 50%;
    height: 40px;
    background-color: #272b33;
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 10px;
    color: white;
}

.page-item {
    cursor: pointer;
    background-color: #a7d328;
    color: #a7d328;

}

a {
    background-color: #a7d328;
    color: white;

}
